<!DOCTYPE html>
<html ng-app="store">
	<head>
		<title>Belajar Angular</title>
		<!-- Script -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="assets/js/mainController.js"></script>

		<!-- Styleshit -->
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" ng-controller="storeController as store">
			<div class="col-md-4" ng-hide="produk.sold" ng-repeat="produk in store.product">
				<div class="boxShadow">
					<img class="produkImage" ng-src="{{produk.images[0]}}">
					<h1>{{produk.name}}</h1>
					<h2>{{produk.price | currency:"Rp.":2}}</h2>
					<section ng-controller="tabController as tab">
						<ul class="nav nav-pills">
							<li ng-class="{active: tab.isSelected(1)}"><a href="" ng-click="tab.pilihTab(1)">Description</a></li>
							<li ng-class="{active: tab.isSelected(2)}"><a href="" ng-click="tab.pilihTab(2)">Spec</a></li>
							<li ng-class="{active: tab.isSelected(3)}"><a href="" ng-click="tab.pilihTab(3)">Reviews</a></li>
						</ul>
						<div class="panel" ng-show="tab.isSelected(1)">
							<h4>Description</h4>
							<p>{{produk.description}}</p>
						</div>
						<div class="panel" ng-show="tab.isSelected(2)">
							<h4>Specifications</h4>
							<blockquote>None yet</blockquote>
						</div>
						<div class="panel" ng-show="tab.isSelected(3)">
							<h4>Reviews</h4>
							<blockquote>None yet</blockquote>
						</div>
					</section>
					<div class="img-wrap">
						<ul class="img-thumbnail clearfix text-center">
							<li class="small-image pull-left thumbnail" ng-repeat="image in produk.images">
								<img ng-src="{{image}}" onclick="changePicture"  />
							</li>
						</ul>
					</div>
					<button class="btn btn-default clearfix" ng-show="produk.purchasable">Add to Cart</button>
				</div>
			</div>
		</div>
	</body>
</html>